.loadingContainer {
  @apply fixed
  left-0
  bg-grey-100
  opacity-80
  right-0
  top-0
  bottom-0
  w-full
  h-full
  flex
  items-center
  justify-center
  z-50;
}

.loading {
  width: 50px !important;
  height: 50px !important;
}

.loading:before {
  border: 5px solid #aadbff !important;
}
